<!doctype html>
		<html class="no-js" lang="zxx">
		
		<head>
			<meta charset="utf-8">
			<meta http-equiv="x-ua-compatible" content="ie=edge">
			<title>Commath</title>
			<meta name="description" content="">
			<meta name="viewport" content="width=device-width, initial-scale=1">
		
		  
			<!-- CSS here -->
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
			
			<!-- <link rel="stylesheet" href="css/responsive.css"> -->

		</head>
</head>

<body>
	<header>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
					<a class="navbar-brand" href="/index"><h3>Commath Final Project</h3></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
					  <span class="navbar-toggler-icon"></span>
					</button>
					&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
					<div class="collapse navbar-collapse" id="navbarColor02">
							<button onclick="location.href='/32bit'" type="button" class="btn btn-outline-primary">แปลงเลขทศนิยมเป็น 32 BIT</button>
								&nbsp; &nbsp; &nbsp; &nbsp; 
							<button onclick="location.href='/64bit'" type="button" class="btn btn-outline-secondary">แปลงเลขทศนิยมเป็น 64 BIT</button>
								&nbsp; &nbsp; &nbsp; &nbsp; 
							<button onclick="location.href='/AxBs'" type="button" class="btn btn-outline-success">สมการเชิงเส้น SAX = BS</button>
								&nbsp; &nbsp; &nbsp; &nbsp; 
							<button onclick="location.href='/Differentiation'" type="button" class="btn btn-outline-info">Differentiation</button>
								&nbsp; &nbsp; &nbsp; &nbsp; 
							<button onclick="location.href='/Integration'" type="button" class="btn btn-outline-warning">Integration</button>
								&nbsp; &nbsp; &nbsp; &nbsp; 
							<button onclick="location.href='/Rootfinding'" type="button" class="btn btn-outline-danger">Rootfinding</button>
								&nbsp; &nbsp; &nbsp; &nbsp; 
							
					</div>
				  </nav>
	</header>
	{% block content %}
	{% endblock  %}
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	
</body>

</html>