{% extends 'myapp/bar/navbar.html' %}

{% block content %}
<center>
    <section class="headline-sec container">
        <div class="overlay ">
            <h3>Integration หาพื้นที่ใต้กราฟ</h3>
        </div>
    </section>
</center><br>
<!--HOME SECTION END-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="alert alert-warning">
                    <div class="form-group">
                        <strong>กรอกข้อมูลต่อไปนี้</strong><br />

                        <label></label>
                        <form action='' method="post">
                            {% csrf_token %}
                            เลือกฟังก์ชั่น
                            <select class="form-control" name=function>
                                <option value="trapezoidal">Trapezoidal Rule</option>
                                <option value="simson">Simpson's Rule</option>
                            </select>
                            ฟังก์ชั่น
                            <input name="fx" type="text" step=any class="form-control" placeholder="e**x" value="e**x">
                            <br>
                            <input type="submit" class="btn btn-primary"></input>
                        </form>
                    </div>
                </div>
            </div>
            <center>
                    <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
                            <div class="card-header">ผลลัพธ์</div>
                            <div class="card-body">
                              <h4 class="card-title">{{x}}</h4>
                             
                              <p class="card-text">ทุกคำถามมีคำตอบ</p>
                            
                            </div>
                          </div>
                
            </center>

        </div>
    </div>
</section>
{% endblock content %}